<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ch.blinkenlights.android.rlock"
      android:versionCode="2"
      android:versionName="1.01">
<uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    <receiver android:name="Rlock" 
      android:label="Rlock">
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_info" />
        <intent-filter> 
          <action android:name="ch.blinkenlights.android.rlock.CLICK" />
          <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
    </receiver>
    </application>
</manifest> 
